pipeline/CargaORCLAzure.json
{
	"name": "CargaORCLAzure",
	"properties": {
		"description": "Prueba de carga de BD Orcl a Azure",
		"activities": [
			{
				"name": "Busca01",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT CONVERT(INT, COUNT(*)) AS N FROM Linaje",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureNoTbl",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Busca02",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Busca01",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM Linaje WHERE Linaje_SK = @{activity('Busca01').output.firstRow.N}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureNoTbl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "RegistraFinalizacion",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Busca02",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spRegistraFinCarga]",
					"storedProcedureParameters": {
						"lastID": {
							"value": {
								"value": "2020025219",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"loadID": {
							"value": {
								"value": "10",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDestino",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}